<%- include("header")-%>

<h2>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae quos
  autem, perferendis nam accusamus quo similique accusantium non. Officia
  provident reiciendis tempore ut natus id obcaecati sit rerum eum minima.
</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nostrum dolor
  expedita assumenda sunt rem recusandae cumque minima eius quisquam repellendus
  voluptatibus, ullam vel velit harum, consequuntur quam facere ut.
</p>

<%- include("footer")-%>
